################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DynamicDataLoadSSIS/DynamicDataLoadDB/DynamicDataLoadDB.dbmdl
/DynamicDataLoadSSIS/DynamicDataLoadDB/DynamicDataLoadDB.jfm
/DynamicDataLoadSSIS/DynamicDataLoadDB/obj/Debug/Model.xml
